
@{
    ViewBag.Title = "Download";

    var order = ViewBag.OrderDownload;
    var flight = ViewBag.FlightDownload;
    var reservation = ViewBag.ReservationDownload;
    var payment = ViewBag.PaymentDownload;
}

<h2>Download</h2>



<title>Title</title>


<script type="text/javascript">
    window.onload = function () {
        document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("invoice");
                console.log(invoice);
                console.log(window);
                let doc_width = 8.27 + 5;  // A4 measures 210 × 297 millimeters or 8.27 × 11.69 inches
                let doc_height = 11.69 + 1;
                let aspect = doc_height / doc_width;
                let dpi = 120; // targeting ~1200 window width
                let img_width = doc_width * dpi - 50;
                let img_height = doc_height * dpi;
                let win_width = img_width;
                let win_height = img_height;

                // https://html2canvas.hertzen.com/configuration
                let html2canvasOpts = {
                    scale: img_width / win_width,   // equals 1
                    width: img_width,
                    height: img_height,
                    windowWidth: win_width,
                    windowHeight: win_height,
                };

                // https://rawgit.com/MrRio/jsPDF/master/docs/jsPDF.html
                let jsPDFOpts = {
                    orientation: 'portrait',
                    unit: 'in',
                    format: [doc_width, doc_height]
                };

                html2pdf().set({
                    margin: [0.01, 0.01, 0.01, 0.01],
                    filename: 'mkdAirTicketDetails.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: html2canvasOpts,
                    jsPDF: jsPDFOpts,
                }).from(invoice).save();
            })
    }
</script>
<style>
    .logo {
        width: 182px;
        float: left;
        margin-left: 39px;
    }

    .jumbotron-heading {
        margin-right: 175px;
    }

    .line {
        border-top: 6px solid lightblue;
        height: 25px;
        rotation: 90deg;
    }

    .price {
        float: right;
        margin-top: -158px;
        margin-right: 134px;
        background: lightgray;
        border: 1px solid gray;
        box-shadow: black;
        width: 248px;
    }

    p {
        font-size: 24px;
        font-style: italic;
    }

    .to {
        float: right;
        margin-top: -95px;
        margin-right: 514px;
    }

    .type {
        float: right;
        margin-top: -95px;
        margin-right: 389px;
    }

    .bag {
        float: right;
        margin-top: -287px;
        margin-right: 62px;
    }

    .surname {
        float: right;
        margin-top: -95px;
        margin-right: 466px;
    }

    .phonenumber {
        float: right;
        margin-top: -95px;
        margin-right: 387px;
    }

    #footer {
        background: lightblue;
    }

    .footertext {
        margin-left: 293px;
    }

    .pdflogo {
        width: 65px;
    }

    #pdfspace {
        margin-left: 444px;
    }

    .bagNokg {
        height: 73px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col text-center">
            @if (order.flight.cantShowOrDownload() == "true")
            {
                <button class="btn btn-primary btn-lg" id="download"> <i class="fa fa-download"> DOWNLOAD </i></button>
            }

            <a href="/Flights" type="button" class="btn btn-info btn-lg"><i class="fa fa-backward"> Back to flights</i></a>
            <a href="/Tickets" type="button" class="btn btn-info btn-lg"><i class="fa fa-forward"> Go to tickets</i></a>
        </div>
    </div>

</div>
<div class="card" id="invoice">
    <div class="container mb-4">
        <div class="col mb-3">
            <div>
                <section class="jumbotron text-center">
                    <div class="container">
                        <img class="logo">
                        <h1 class="jumbotron-heading">BOARDING PASS</h1>
                    </div>
                </section>
                <h3>Ticket Number</h3>
                <p>@order.ID </p>

                <h2>FLIGHT INFORMATION</h2>
                <h3>Flight Number</h3>
                <p>@flight.ID</p>

                <div class="line"></div>
                <h3>From</h3>
                <p>@flight.From_Location</p>
                <div class="to">
                    <h3>To</h3> <p>@flight.To_Location</p>
                </div>
                <h3>Deperature date</h3> <p>@flight.Deparature_Time</p>
                <div class="type">
                    <h3>Class type </h3> <p>@reservation.classesType</p>
                </div>
                <h3>Normal Price</h3> <p>@flight.Price €</p>

                <div class="line"></div>

                <h2>PASSENGER DETAILS</h2>
                <h3>Name</h3> <p>@reservation.Name</p>
                <div class="surname">
                    <h3>Surname</h3> <p>@reservation.Surname</p>
                </div>
                <h3>Passport Number</h3> <p>@reservation.Number_OfPassport</p>
                <div class="phonenumber">
                    <h3>Phone Number</h3> <p>@reservation.Number_OfPhone</p>
                </div>

                <div class="line"></div>
                <h2>PAYMENT DETAILS</h2>
                <h3>Full Name</h3> <p>@payment.Full_Name</p>
                <h3>Card Number</h3> <p>@payment.encodeCardNumber(@payment.Card_Number)<p>
                    <div class="price">
                        <h3>Final Price</h3>

                        <p> @flight.getFinalPrice(@reservation.classesType) €</p>
                    </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="text-lightblue-50 mt-xl-5">
        <div class="container">
            <div class="footertext">
                <h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;mkdAir</h3>
                <h3>&emsp;&emsp;0000 Ticket City,Plane Pl,0000</h3>
                <h3>+ 33 12 14 15 16 - email@mkdair.com</h3>
            </div>
        </div>
    </footer>
</div>